<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>artist-icon.png</string>
		<key>label</key>
		<string>Artists</string>
	</dict>
	<dict>
		<key>label</key>
		<string>Search</string>
		<key>image</key>
		<string>search-icon.png</string>
	</dict>
	<dict>
		<key>image</key>
		<string>playlist-icon.png</string>
		<key>label</key>
		<string>Playlists</string>
	</dict>
	<dict>
		<key>image</key>
		<string>random-icon.png</string>
		<key>label</key>
		<string>Random</string>
	</dict>
</array>
</plist>
